@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,400;1,500;1,600;1,700&display=swap');



/* reset css */
*{
    padding:0;
    margin:0;
    border:none;
    outline:none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    cursor: pointer;
    text-decoration: none;

}


:root {
    --bg-light:#E9EBF1;
    --color-dark:#3A494E;
    --color-blue:#0F53FF;
    --color-light:#fff;
    --border-light:#E9EBF1;
    --border-second:#BBC6D6;

}


body {
    min-height: 100vh;
    background:#F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#web{
    width:1440px;
    height: 900px;
    border-radius: 20px;
    background:#fff;
    padding:10px 20px;
 
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    border-bottom: 1px solid var(--border-light);
}




header .actions {
    display: flex;
}

header form input[type='text']
{
    width:370px;
    height: 40px;
    background:var(--bg-light);
    color:var(--color-dark);
    border-radius: 10px;
    padding-left:20px;
}

header .search input[type='submit']
{
    width:100px;
    height: 40px;
    margin-left:20px;
    border-radius: 10px;
    background:var(--color-blue);
    color:var(--color-light);
}

header .avatar {
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-left:88px;
}





/* wrapper-content */

#wrapper-content {
    display: flex;
    margin-top:22px;
}

/* left side */
.left-side {
    width:270px;
    height: 700px;

}

.left-side .info {
    min-height: 118px;
    background:var(--bg-light);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px var(--color-blue);
    transition: 0.3s all;
}
.left-side .info:hover {
    box-shadow: none;
}
.left-side .info .avatar {
    margin-right:10px;
}
.left-side .info .name {
    color:var(--color-dark);
}


.left-side .menu {
    background:var(--bg-light);
    margin-top:15px;
    min-height: 400px;
    padding:0px 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--color-blue);
}




/* menu */

.left-side .menu {
    padding-top:50px;
}

.left-side .menu .item {
    display: flex;
    padding:20px 0px;
    border-bottom:1px solid var(--border-second);
    transition: 0.5s all;
}

.left-side .menu .item:last-child {
    border:none;
}
.left-side .menu .item .icon {
    margin-right:15px;
}
.left-side .menu .item a {
    color:var(--color-dark);
}


.left-side .menu .item:hover {
    box-shadow: 3px 3px 2px var(--color-blue) ;
    transform:translateX(60px);
    padding-left:20px;
    background:var(--color-blue);
    border-bottom:1px solid var(--color-blue);
    position:relative;
   
   
}
.left-side .menu .item:hover a {
     color:var(--color-light);
}


/* ads*/


.left-side .ads {
    margin-top:20px;
}
.left-side .ads .title {
    font-size:14px;
    color:var(--color-dark);
    margin:10px 0px;
}

.left-side .ads img {
    max-width: 100%;
}


/* content */

.content {
    width:760px;
    height:700px;
    margin-left:50px;
    overflow: auto;
    /* padding:0px 20px; */
    padding-right:10px;
}
/* list stories  */

.content .stories {
    display: flex;
    gap:30px;
}
.content .stories .item {

    width:128px;
    height: 190px;
    border-radius: 10px;
    position:relative;
    overflow: hidden;
    
}


.content .stories .item .photo {
    transition: 1s all;
}
.content .stories .item img {
    width:100%;

 
}

.content .stories .item .add {
    width:50px;
    height: 50px;
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%);
    border:2px solid var(--bg-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s all;
}


.content .stories .item .add ion-icon {
    font-size:25px;
    color:var(--color-light);
}
.content .stories .item p {
    position: absolute;
    left: 50%;
    top: 87%;
    width: 83%;
    transform: translate(-50%,-50%);
    color: var(--color-light);
    text-align: center;
}

.content .stories .item .add:hover{
    width:47px;
    height: 47px;

}
.content .stories .item:hover .photo {
    transform:scale(1.3);
}



/* create post */


.create-post {
    margin-top:15px;
    min-height: 80px;
    border-radius: 10px;
    background:var(--bg-light);
    display: flex;
    align-items: center;
    padding-left:40px;
    padding:0px 50px;
}

.create-post form 
{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.create-post  input[type ='text']
{
    padding:10px 0px;
    width:500px;
    background:transparent;
    color:var(--color-dark);
}

.create-post input[type ="submit"]
{
    width:105px;
    height: 40px;
    color:var(--color-light);
    background:var(--color-blue);
    border-radius: 10px;
}



/* list post */

.posts .item {
    margin-top:30px;
}

.posts .info {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.posts .info .left {
    display: flex;
    align-items: center;
}
.posts .info .left .avatar {
    width:48px;
    height: 48px;
}
.posts .info .left .name {
    margin-left:10px;
    color:var(--color-dark);
}

.posts .item .body-post {
    margin-top:20px;

}
.posts .item .body-post p {
    color:var(--color-dark);
}
.posts .item .thumb img {
    max-width: 100%;
}

/* request */


.friends {
    margin-left:50px;
}
.friends .title {
    color:var(--color-dark);
    margin-bottom:10px;
}

.friends .item {
    width:230px;
    min-height: 40px;
    margin-bottom:20px;
}
.friends .item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap:10px;
    transition: 0.5s all;
}
.friends .item .avatar {
    width:48px;
    height: 48px;
}

.friends .item:hover {
    background:var(--color-blue);
    padding:5px;
    transform:translateX(30px);
    box-shadow: 3px 3px 2px var(--color-blue);
    position:relative;
}

.friends .item:hover .name {
    color:var(--color-light);
}